<style>
  .single-car-item {
    border: 1px solid red;
    border-radius: 5px;
    padding: 10px;
  }
  .btn-rad {
    border: 1px solid red;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
  }
</style>

<% cache [common_product_cache_keys, products&.maximum(:updated_at)&.to_i, id] do %>
  <div id="<%= id %>-mobile" class="carousel slide d-md-none homepage-carousel" data-interval="false">
    <div class="carousel-inner">
      <% products.each_slice(1).with_index do |sliced_items, index| %>
        <div class="carousel-item <%= 'active' if index == 0 %>">
          <div class="container">
            <div class="row carousel-items-container">
              <% sliced_items.each_with_index do |item, idx| %>
                <div class="col-12">
                  <div class="single-car-item">
                    <%= render 'spree/shared/product', product: item, image_class: 'w-100' %>
                      <input id="variant_id" type="hidden" value="<%= item.master.id %>"></input>
                      <div class="input-group-append w-100 mt-2 d-flex justify-content-center">
                      <%= render 'spree/shared/quantity_select_sp', input_name: :quantity %>
                      <div class="input-group-append d-flex justify-content-center" style="background-color: transparent !important;">
                        <button class="btn btn-rad sw-100 add-to-cart-button" onclick="addItemToCart(this)" id="add_item_cart" >
                          <%= image_tag("custom/basket") %>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <a
      class="d-flex position-absolute justify-content-center align-items-center carousel-icon-control carousel-icon-control--previous"
      href="#<%= id %>-mobile"
      role="button"
      data-slide="prev"
    >
      <span class="d-flex justify-content-center align-items-center carousel-icon-control-rounded" aria-hidden="true">
        <%= icon(name: 'arrow-right',
                classes: 'spree-icon-arrow spree-icon-arrow-left',
                width: 20,
                height: 20) %>
      </span>
      <span class="sr-only"><%= Spree.t(:previous) %></span>
    </a>

    <a
      class="d-flex position-absolute justify-content-center align-items-center carousel-icon-control carousel-icon-control--next"
      href="#<%= id %>-mobile"
      role="button"
      data-slide="next"
    >
      <span class="d-flex justify-content-center align-items-center carousel-icon-control-rounded" aria-hidden="true">
        <%= icon(name: 'arrow-right',
                classes: 'spree-icon-arrow spree-icon-arrow-right',
                width: 20,
                height: 20) %>
      </span>
      <span class="sr-only"><%= Spree.t(:next) %></span>
    </a>
  </div>

  <div id="<%= id %>-desktop" class="carousel slide d-none d-md-block homepage-carousel" data-interval="false">
    <div class="carousel-inner carousel-inner-width" style="overflow: visible">
      <% products.each_slice(4).with_index do |sliced_items, index| %>
        <div class="carousel-item <%= 'active' if index == 0 %>">
          <div class="container position-relative">
            <a
              class="d-flex position-absolute justify-content-center align-items-center carousel-icon-control carousel-icon-control--previous"
              href="#<%= id %>-desktop"
              role="button"
              data-slide="prev"
            >
              <span class="d-flex justify-content-center align-items-center carousel-icon-control-rounded" aria-hidden="true">
                <%= icon(name: 'arrow-right',
                        classes: 'spree-icon-arrow spree-icon-arrow-left',
                        width: 20,
                        height: 20)
                %>
              </span>
              <span class="sr-only"><%= Spree.t(:previous) %></span>
            </a>

            <div class="row carousel-items-container">
              <% sliced_items.each do |item| %>
              <% @product = item %>
              <% @product_summary = Spree::ProductSummaryPresenter.new(item).call %>
              
                <div class="col-md-3">
                  <div class="single-car-item">
                    <%= render 'spree/shared/product', product: item, image_class: 'w-100' %>
                    <input id="variant_id" type="hidden" value="<%= item.master.id %>"></input>
                    <div class="input-group-append w-100 mt-2 d-flex justify-content-center">
                      <%= render 'spree/shared/quantity_select_sp', input_name: :quantity %>
                      <div class="input-group-append d-flex justify-content-center" style="background-color: transparent !important;">
                        <button class="btn btn-rad sw-100 add-to-cart-button" 
                          data-product-summary="<%= @product_summary.to_json %>"
                          onclick="addItemToCart(this)" id="add_item_cart" 
                        >
                          <%= image_tag("custom/basket") %>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>

            <a
              class="d-md-flex position-absolute justify-content-center align-items-center carousel-icon-control carousel-icon-control--next"
              href="#<%= id %>-desktop"
              role="button"
              data-slide="next"
            >
              <span class="d-flex justify-content-center align-items-center carousel-icon-control-rounded" aria-hidden="true">

                <%= icon(name: 'arrow-right',
                        classes: 'spree-icon-arrow spree-icon-arrow-right',
                        width: 20,
                        height: 20)
                %>
              </span>
              <span class="sr-only"><%= Spree.t(:next) %></span>
            </a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<script>
  function addItemToCart(target) {
    var $cartForm = $(event.currentTarget);
    
    var variantId = parseInt(target.parentElement.parentElement.parentElement.children["variant_id"].value);
    var quantity = parseInt(target.parentElement.parentElement.children[0].children["quantity"].value);
    var options = {}

    SpreeAPI.Storefront.addToCart(
      variantId,
      quantity,
      options, // options hash - you can pass additional parameters here, your backend
      // needs to be aware of those, see API docs:
      // https://github.com/spree/spree/blob/master/api/docs/v2/storefront/index.yaml#L42
      function(response) {
        Spree.fetchCart()
        Spree.showProductAddedModal(JSON.parse(
          $cartForm.attr('data-product-summary')
        ), Spree.variantById($cartForm, variantId))
        $cartForm.trigger({
          type: 'product_add_to_cart',
          variant: Spree.variantById($cartForm, variantId),
          quantity_increment: quantity,
          cart: response.attributes
        })
      }
    )
  }
</script>
