<% cache spree_nav_cache_key('footer') do %>
  <footer id="footer" class="pt-2 mt-5 mx-auto border-top footer-spree" data-turbolinks-permanent>
    <div class="container">
      <%= image_tag 'custom/payu', class: "img-responsive", style: "width: 100%" %>
    </div>
    <div class="sub-footer bg-primary p-5">
      <div class="row">
        <div class="col-6 mob-none col-md-4">
          <div class="d-flex justify-content-center align-items-center">
            <%= image_tag "custom/pin_icon", class: "mr-3" %>
            <div class="footer-address">
              <p>
                Interplus Sp. z o.o. </br>
                ul. Nadbzurzańska 1/3 </br>
                99-400 Łowicz 
              </p>
            </div>
          </div>
        </div>
        <div class="col-4 mob-none" style="display: flex;justify-content: center;align-items: flex-end;">
          <div class="d-flex justify-content-center align-items-center">
            <span class="text-white">© Interplus Sp. z o.o.</span>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="d-flex justify-content-center align-items-center">
            <ul class="list-unstyled text-white">
              <div class="row">
                <li class="col-6"><a href="#" class="text-white"><%= Spree.t('footer.my_account') %></a></li>
                <li class="col-6"><a href="#" class="text-white"><%= Spree.t('footer.my_account') %></a></li>
                <li class="col-6">
                  <%= link_to 'Odstąpienie od umowy', "/Formularz_zwrotu.pdf", class: "text-white" %>
                </li>
                <li class="col-6"><%= link_to Spree.t('footer.tos'), tos_path, class: "text-white" %> </li>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <%= render 'spree/shared/copyright' %>
  </footer>
<% end %>
