<%# leaving #spree-header div for legacy support  %>

  <div id="spree-header" data-turbolinks-permanent>
    <header id="header" class="d-flex align-items-center header-spree">
      <div class="container-fluid h-100 header-spree-fluid">
        <div class="d-flex flex-nowrap align-items-center h-100">
          <figure class="logo flex-grow-0 flex-xl-grow-1 order-xl-0 header-spree-fluid-logo m-0">
            <%= link_to root_path do %>
             <%= image_tag("custom/logo.svg") %>
            <% end %>
          </figure>
          <div id="main-nav-bar" class="ml-5 flex-grow-1 d-none d-xl-block header-spree-fluid-primary-navigation">
            <%= render partial: 'spree/shared/search' %>
          </div>

          <div id="top-nav-bar" class="flex-grow-1 header-spree-fluid-secondary-navigation">
            <%= render partial: 'spree/shared/nav_bar' %>
          </div>
          <%= render partial: 'spree/shared/mobile_navigation' %>
        </div>
      </div>
    </header>

    <div class="mb-2 container-fluid header-spree-fluid">
      <div class="d-flex align-items-center border-bottom d-none" id="secondary-menu">
        <%= render partial: 'spree/shared/main_nav_bar' %>
      </div>

      <div class="d-md-none">
        <%= render partial: 'spree/shared/mobile_head_second_navbar' %>
      </div>
    </div>
  </div>
