<% @body_id = 'home' %>

<div class="container header-spree-fluid">
  <div class="homepage-hero-image mb-3 position-relative">
    <% if @hero_images.empty? %>
        <img class="lazyload hero-image position-absolute"
          data-src="<%= asset_path('homepage/main_banner.jpg') %>"
          data-srcset="<%= image_source_set('homepage/main_banner') %>"
          alt="<%= Spree.t('homepage.main_banner')%>" />
    <% else %>
      <%# Remove the first(1) to iterate over all images %>
      <% @hero_images.first(1).each do |image| %>
        <%= image_tag image,
          class: 'lazyload hero-image position-absolute',
          'data-src': image,
          'data-srcset': image,
          alt: Spree.t('homepage.main_banner')
        %>
      <% end %>
    <% end %>

    <div class="hero-content">
      <div class="head-text">
      </div>
      <div>
        <%= link_to Spree.t('homepage.shop_now'), spree.products_path, class: 'btn btn-primary spree-btn px-5', style: 'color: rgb(236, 0, 59);' %>
      </div>
    </div>
  </div>
  <div class="row mt-5 mb-5">
    <div class="d-flex justify-content-center align-items-center flex-column col-md-3 col-6">
      <%= image_tag('custom/pl', class: 'homepage-image-exp') %>
      <h6 class="homepage-text-exp"><%= Spree.t('homepage.produced_in')%></h6>
    </div>
    <div class="d-flex justify-content-center align-items-center flex-column col-md-3 col-6">
      <%= image_tag('custom/payments', class: 'homepage-image-exp') %>
      <h6 class="homepage-text-exp"><%= Spree.t('homepage.safe_pay')%></h6>
    </div>
    <div class="d-flex justify-content-center align-items-center flex-column col-md-3 col-6">
      <%= image_tag('custom/delivery', class: 'homepage-image-exp') %>
      <h6 class="homepage-text-exp"><%= Spree.t('homepage.reliable_delivery')%></h6>
    </div>
    <div class="d-flex justify-content-center align-items-center flex-column col-md-3 col-6">
      <%= image_tag('custom/returns', class: 'homepage-image-exp') %>
      <h6 class="homepage-text-exp"><%= Spree.t('homepage.returns')%></h6>
    </div>
  </div>

  <!-- <div data-product-carousel data-product-carousel-taxon-id='free-shipping' class="mb-3"></div> -->

<div class="container">
  <div class="big-blue-box p-5">
    <p><%= Spree.t('homepage.interplus.p1').html_safe %></p>
    <p><%= Spree.t('homepage.interplus.p2') %></p>
    <h3 class="text-center mt-5"> <%= Spree.t('homepage.interplus.title') %></h3>
  </div>
</div>

<div class="container mt-5">
  <div class="big-red-box p-5">
    <div class="red-banner-text-align">
      <h3 class="red-banner-text"><%= Spree.t('homepage.red_box.title') %></h3>
      <%= link_to Spree.t('homepage.red_box.button'), "/t/covid-19", class: 'btn btn-primary spree-btn mt-4 px-5 mt-2', style: "font-size: 2rem;"%>
    </div>
  </div>
</div>

<div class="container mt-5">
  <h2 class="text-primary text-center mb-4"><%= Spree.t('homepage.category.title').upcase %></h2>
  <div class="row">
    <div class="col-md-4 category-card">
      <a href="/t/ubrania-i-obuwie-robocze">
        <%= image_tag "custom/categories/c1", class: "main" %>
        <h5 class="font-weight-light"> <%= Spree.t("homepage.category.c1").html_safe %> </h5>
      </a>
    </div>

    <div class="col-md-4 category-card">
      <a href="/t/srodki-czystosci-forlux">
        <%= image_tag "custom/categories/c3", class: "main" %>
        <h5 class="font-weight-light"> <%= Spree.t("homepage.category.c3").html_safe %> </h5>
      </a>
    </div>

    <div class="col-md-4 category-card">
      <a href="/t/rekawice-ochronne">
        <%= image_tag "custom/categories/c2", class: "main" %>
        <h5 class="font-weight-light"> <%= Spree.t("homepage.category.c2").html_safe %> </h5>
      </a>
    </div>

    <div class="col-md-4 category-card">
      <a href="/t/tasmy-ostrzegawcze">
        <%= image_tag "custom/categories/c4", class: "main" %>
        <h5 class="font-weight-light"> <%= Spree.t("homepage.category.c4").html_safe %> </h5>
      </a>
    </div>

    <div class="col-md-4 category-card">
      <a href="/t/ochrona-osobista">
        <%= image_tag "custom/categories/c5", class: "main" %>
        <h5 class="font-weight-light"> <%= Spree.t("homepage.category.c5").html_safe %> </h5>
      </a>
    </div>

    <div class="col-md-4 category-card">
      <a href="/t/covid-19">
        <%= image_tag "custom/categories/c6", class: "main" %>
        <h5 class="font-weight-light"> <%= Spree.t("homepage.category.c6").html_safe %> </h5>
      </a>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="forlux-red-box p-5">
    <div class="red-banner-text-align">
      <h1 class="font-weight-bold red-banner-text text-center"><%= Spree.t('homepage.forlux_section.title') %></h1>
      <h5 class="red-banner-text"><%= Spree.t('homepage.forlux_section.p1') %></h5>
      <p><%= Spree.t('homepage.forlux_section.p2') %> <%= Spree.t('homepage.forlux_section.p3') %></p>
      <p><%= Spree.t('homepage.forlux_section.p4') %></p>
    </div>
  </div>
</div>

<div class="container mt-5 mb-5">
  <h2 class="text-primary text-center mb-4"> <%= Spree.t('homepage.forlux_products.title') %> </h2>
  <!-- <div data-product-carousel data-product-carousel-taxon-id='srodki-czystosci-forlux' class="mb-3"></div> -->
  <div class="d-flex justify-content-center">
    <%= link_to Spree.t('homepage.forlux_products.button'), '/t/srodki-czystosci-forlux', class: 'text-center btn btn-primary spree-btn px-5' %>
  </div>
</div>

<!-- <div class="container mt-5 mb-5">
  <div class="offer-blue-box p-5">
    <div class="row">
      <div class="col-md-7 d-flex justify-content-center align-items-center flex-column">
        <h5 class="white-text mb-2"> <%= Spree.t('homepage.offer.title').html_safe %> </h5>
        <%= link_to Spree.t('homepage.offer.button'), spree.products_path, class: 'mt-2 text-center btn btn-outline-primary color- spree-btn px-5' %>
      </div>
      <div class="col-md-5">
        <%= image_tag "custom/bhp-letter", class: "main" %>
      </div>
    </div>
  </div>
</div>
 -->

 <div class="container mb-5">
  <div class="big-blue-box big-blue-box-newsletter">
    <div class="row">
      <div class="col-lg-4 order-lg-12 d-flex justify-content-center align-items-center">
        <img
          src="<%= asset_path('homepage/illustration_newsletter.png') %>"
          alt="<%= Spree.t('homepage.main_banner')%>" />
      </div>
      <div class="col-lg-8 order-lg-1 d-flex flex-column justify-content-center">
        <h4 class="font-weight-light text-center mb-4 mt-4 mt-md-0"><%= Spree.t('homepage.offer.title').html_safe %></h4>
        <div class="row">
          <div class="col-md-7">
            <input type="text" placeholder="E-mail" class="form-control text-light round-input" />
          </div>
          <div class="col-md-5 mt-3 mt-md-0">
            <%= link_to Spree.t('homepage.offer.button'), '/t/srodki-czystosci-forlux', class: 'text-center btn btn-primary spree-btn px-5 disabled' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

 <div class="container">
  <div class="row d-xl-flex justify-content-xl-around pb-xl-5">
    <div class="col-md-6">
      <div class="footer-contact-image">
        <div class="footer-contact-text">
          <h2 class="mb-5 mob-small-title font-weight-light"> Masz jakieś pytania? <br/>Zapytaj naszego doradcę </h2>
          <div class="mb-2 d-flex" style="justify-content: space-evenly">
            <%= image_tag('custom/contact_icon', class: "") %>
            <div class="mobile-font-06 ml-1">
              <p> Biuro: tel. +48 796 690 240 </p>
              <p> Marta Kucharska: +48 506 090 911 </p>
              <p> Marek Mucha: +48 501 690 240</p>
              <p> Email: artykulybhp@gmail.com </p>
            </div>
          </div>
          <div style="width: 100%" class="d-flex justify-content-center">

            <%= link_to Spree.t('footer.button'), "tel:+48796690240", class: 'text-center mt-3 btn btn-outline-primary text-light spree-btn px-5' %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="container pt-2">
        <h3 class="mb-5">Szukasz współpracy długoterminowej?<br/>Wyślij zapytanie!</h3>
        <%= form_with url: contact_form_index_path do |f| %>
          <div class="row">
            <div class="form-group col-md-12">
              <%= f.text_field :email, class: "form-control round-input", placeholder: Spree.t('footer.contact.email'), type: 'email', required: true %>
              <small class="form-text text-muted">Nie udostępnimy nigdy Twojego adresu innym podmiotom.</small>
            </div>
            <div class="form-group col-12">
              <%= f.text_field :name, class: "form-control round-input", placeholder: Spree.t('footer.contact.name_surname_placeholder'), required: true %>
            </div>

            <div class="form-group col-6">
              <%= f.text_field :company, class: "form-control round-input", placeholder: Spree.t('footer.contact.company'), required: true %>
            </div>

            <div class="form-group col-6">
              <%= f.text_field :nip, class: "form-control round-input", placeholder: Spree.t('footer.contact.nip'), required: true %>
            </div>

            <div class="form-group col-12">
              <%= f.text_area :message, class: "form-control round-input", placeholder: Spree.t('footer.contact.message'), rows: 3, required: true %>
            </div>
            <div class="col-12 d-flex justify-content-end">
              <span class="text-muted"> Wysyłając zapytanie z formularza, potwierdzasz naszą <a href="/terms-of-service">politykę prywatności</a>. </span>
              <%= f.submit "Wyślij", class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
        <div class="col-12 mt-5" id="contact-form">
          <%= flash_messages %>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .main {
    width: 100%;
  }

  .round-input {
    border: 3px solid red;
    border-radius: 10px;
  }
</style>
