
<h4>Nowe zapytanie z adresu: <b><%= @email %></b></h4>

<p>
  <b>Imię i nazwisko:</b> <span><%= @name %></span>
</p>
<p>
  <b>Fima:</b> <span><%= @company_name %></span>
</p>
<p>
  <b>NIP:</b> <span><%= @nip %></span>
</p>

<p>
  <b>Wiadomość:</b> <span><%= @message %></span>
</p>

