
<h4>New Inquiry from <b><%= @email %></b></h4>

<p>
  <b>name:</b> <span><%= @name %></span>
</p>
<p>
  <b>company:</b> <span><%= @company_name %></span>
</p>
<p>
  <b>nip:</b> <span><%= @nip %></span>
</p>

<p>
  <b>message:</b> <span><%= @message %></span>
</p>

